/***************************************************
 * Eric Meyer's Reset Reloaded from http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
    outline: 0;
}
body {
    line-height: 1;
    color: black;
    background: white;
}
ol, ul {
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}

.clearfix:after {
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */





body {
  font-family: Georgia, Times, "Times New Roman", serif;
  position: relative;
  background: #fbfbfb;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  /*
  background-image:url('../images/bg/GypsyGardenbyPixels&IceCream.png');
  background-image:url('../images/bg/Seamles-Blue-99.jpg');
  background-image:url('../images/bg/Seamles-Blue-112.jpg');
  background-image:url('../images/bg/boxy.png');
  */

  background-image:url('../images/bg/boxy.png');
  background-repeat:repeat;
}

div.dock {
  font-size: 0.9em;
  text-align: center;
  margin-top: 1.5em;
  padding-bottom: 0.5em;
}

div.dock a {
  color: blue;
  padding: 0.5em;
  margin: 2em;
  text-align: center;
}

div.dock a:hover {
  text-decoration: none;
}

h1 {
  font-size: 1.5em; /* 24px */
  line-height: 1.333em; /* 36px */
  font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

h1 a {
  text-decoration: none;
}

h1 a:hover {
  text-decoration: underline;
}

h1 a:visited {
  color: #133753;
}

h1 div.tilde {
  float: left;
  margin: 1px;
  clear:bottom;
  display: block;
}

h1 div.tilde a:hover {
  border-top: 2px solid #cd3333;
}

h1 a.permalink {
  color: #ddd;
  font-size: smaller;
}

h1 a.permalink:hover {
  text-decoration: underline;
}

h2 {
  font-size: 1em;
  line-height: 1.5em; /* 24px */
}

div.sunflower {
  text-align: left;
  color: #133753;
  padding: 2em;
  background: #fbfbfb;
  -webkit-box-shadow: #1F1F1F 0px 0px 5px;
  -moz-box-shadow:0 0 5px #1F1F1F;
}

div.pic {
  float: right;
  margin-left: 1.5em;
}

div.pic img {
  height: 54px;
  width: 54px;
  -webkit-box-shadow: #1F1F1F 0px 0px 2px;
  -moz-box-shadow:0 0 2px #1F1F1F;
}

div.url {
  color: #aaa;
  font-size: 0.625em; /* 10px */
}

div.url a {
  color: #aaa;
}

div.url a:hover {
  color: #111;
  text-decoration: none;
}

div.home, div.article {
  min-height: 5em;
  padding: 1.5em 0;
  line-height: 1.8em;
}

div.home {
  margin-top: 3em;
}

div.home a {
  color: blue;
}

div.home ol {
  margin: 2em 0 1em 0;
}

div.home li {
  margin: 1em 0;
  list-style-type: square; 
  list-style-position: inside;
}

div.article p {
  padding: 0.5em 0em;
}

div.article img {
  margin: 0.5em 0px;
  max-width: 700px;
  max-height: 500px;
}

div.article cite {
  font-size: 0.5em;
  display: block;
}

div.pagination {
  margin-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 0.9em;
  text-align: center;
}

div.pagination a {
  color: blue;
  padding: 0.5em;
  margin: 2em;
}

div.footer {
  margin: 2em;
  text-align: center;
  font-size: 0.625em; /* 10px */
}

div.footer a.troisen {
  color: #000;
  padding: 0.5em;
  border: 2px outset #fff;
  font-weight: bold;
  background-color: #eee;
  text-decoration: none;
}

div.footer a.troisen:hover {
  color: #cd3333;
  background-color: #ddd;
  border: 2px outset #eee;
}

div.cta {
  font-size: 0.8em;
  padding: 1em 0 1em 0;
  text-align: right;
  clear: left;
  border-top: 1px solid #ccc;
}

div.cta ul li {
  margin: 10px;
  display: inline;
  list-style-type: none; 
}

div.meta {
  float: right;
}

span.tilde, span.attribution, span.archived, span.remaining {
  float: right;
  margin: 0.5em 0 0 2em;
  font-size: smaller;
  background-color: #eee;
  padding: 0 0.5em;
}

span.attribution, span.archived, span.remaining {
  clear: both;
  margin: 1em 0 0 2em;
}

span.archived {
  margin-bottom: 0.5em;
}

img.favicon, img.pinboard {
  width: 16px;
  height: 16px;
  margin: 2px;
  vertical-align: middle;
}

img.sunflower {
  width: 36px;
  height: 36px;
  margin: 0px;
  vertical-align: top;
}
