<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://give-good-sunflower.heroku.com" data-text="Twitter from the inside out" data-count="none" data-via="suttree">Tweet</a>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>&nbsp;&nbsp;&nbsp;
