<% if @articles && @articles.current_page > 1 %>
  <%= link_to '«&nbsp;Previous'.html_safe, stack_path(:page => (@articles.current_page - 1)), :id => 'prev', :remote => true, :update => 'sunflower' %>
<% else %>
  <a href='/'>«&nbsp;Home</a>
<% end %>

&middot;

<% if @articles && @articles.current_page < @articles.total_pages %>
  <%= link_to 'Next&nbsp;»'.html_safe, stack_path(:page => (@articles.current_page + 1)), :id => 'next', :remote => true, :update => 'sunflower' %>
<% end %>
